In [9]:
import pandas as pd
import datetime as dt

In [13]:
df_ = pd.read_csv(r"C:\Users\Ali\Desktop\PROJECTS\FLOMusteriSegmentasyonu\flo_data_20k.csv")
df = df_.copy()

In [28]:
df.head()
df.info()
df.shape
df.describe().T
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [29]:
df["order_num_total"]= df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df["customer_value_total"]= df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0,585.32
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0,121.97
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0,209.98

In [36]:
date_columns= df.columns[df.columns.str.contains("date")]
df[date_columns]= df[date_columns].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total                    19945 non-null  float64
 13  customer_value_total               19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [38]:
df.groupby("order_channel").agg({"master_id" : "count",
                                "order_num_total" : "sum",
                                "customer_value_total" : "sum"})

               master_id  order_num_total  customer_value_total
order_channel
Android App         9495          52269.0            7819062.76
Desktop             2735          10920.0            1610321.46
Ios App             2833          15351.0            2525999.93
Mobile              4882          21679.0            3028183.16

In [42]:
df.sort_values("customer_value_total", ascending=False)[:5]

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0,2.0,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0,45905.10
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67.0,1.0,130.49,36687.80,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68.0,36818.29
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.0,1.0,1263.76,32654.34,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.0,33918.10
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10.0,1.0,538.94,30688.47,"[ERKEK, KADIN, AKTIFSPOR]",11.0,31227.41
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1.0,3.0,18119.14,2587.20,[AKTIFSPOR],4.0,20706.34

In [43]:
df.sort_values("order_num_total", ascending=False)[:5]

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,order_num_total,customer_value_total
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0,2.0,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0,45905.10
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.0,1.0,49.99,12232.25,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.0,12282.24
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,Android App,Offline,2019-08-07,2020-11-04,2020-09-07,2020-11-04,2.0,109.0,10239.46,143.98,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",111.0,10383.44
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,Android App,Offline,2018-10-18,2020-06-30,2018-10-18,2020-06-30,1.0,87.0,8432.25,139.98,[ERKEK],88.0,8572.23
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2019-02-14,2021-04-05,2021-04-05,2020-02-17,2.0,81.0,3997.55,242.81,[ERKEK],83.0,4240.36

In [44]:
def data_prep(dataframe):
    dataframe["order_num_total"]= dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["customer_value_total"]= dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]
    date_columns= dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns]= dataframe[date_columns].apply(pd.to_datetime)
    return df

In [52]:
df["last_order_date"].max()
analysis_date= dt.datetime(2021,6,1)

In [57]:
rfm= pd.DataFrame()
rfm["customer_id"]= df["master_id"]
rfm["recency"]= (analysis_date - df["last_order_date"]).astype("timedelta64[s]")
rfm["frequency"]= df["order_num_total"]
rfm["monetary"]= df["customer_value_total"]
rfm.head()

                            customer_id           recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f  95 days 00:00:00        5.0    939.37
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f 105 days 00:00:00       21.0   2013.55
2  69b69676-1a40-11ea-941b-000d3a38a36f 186 days 00:00:00        5.0    585.32
3  1854e56c-491f-11eb-806e-000d3a38a36f 135 days 00:00:00        2.0    121.97
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f  86 days 00:00:00        2.0    209.98

In [65]:
rfm["recency_score"]= pd.qcut(rfm["recency"], 5, labels= [5,4,3,2,1])
rfm["frequency_score"]= pd.qcut(rfm["frequency"].rank(method="first"), 5, labels= [1,2,3,4,5])
rfm["monetary_score"]= pd.qcut(rfm["monetary"], 5, labels= [1,2,3,4,5])
rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95 days 00:00:00,5.0,939.37,3,4,4
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105 days 00:00:00,21.0,2013.55,3,5,5
2,69b69676-1a40-11ea-941b-000d3a38a36f,186 days 00:00:00,5.0,585.32,2,4,3
3,1854e56c-491f-11eb-806e-000d3a38a36f,135 days 00:00:00,2.0,121.97,3,1,1
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86 days 00:00:00,2.0,209.98,3,1,1

In [67]:
rfm["RF_SCORE"]= rfm["recency_score"].astype(str)+ rfm["frequency_score"].astype(str)
rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95 days 00:00:00,5.0,939.37,3,4,4,34
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105 days 00:00:00,21.0,2013.55,3,5,5,35
2,69b69676-1a40-11ea-941b-000d3a38a36f,186 days 00:00:00,5.0,585.32,2,4,3,24
3,1854e56c-491f-11eb-806e-000d3a38a36f,135 days 00:00:00,2.0,121.97,3,1,1,31
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86 days 00:00:00,2.0,209.98,3,1,1,31

In [75]:
# RFM isimlendirmesi
seg_map = {
r'[1-2][1-2]': 'hibernating',
r'[1-2][3-4]': 'at_Risk',
r'[1-2]5': 'cant_loose',
r'3[1-2]': 'about_to_sleep',
r'33': 'need_attention',
r'[3-4][4-5]': 'loyal_customers',
r'41': 'promising',
r'51': 'new_customers',
r'[4-5][2-3]': 'potential_loyalists',
r'5[4-5]': 'champions'
}
rfm["segment"]= rfm["RF_SCORE"].replace(seg_map, regex=True)
rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95 days 00:00:00,5.0,939.37,3,4,4,34,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105 days 00:00:00,21.0,2013.55,3,5,5,35,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,186 days 00:00:00,5.0,585.32,2,4,3,24,at_Risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,135 days 00:00:00,2.0,121.97,3,1,1,31,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86 days 00:00:00,2.0,209.98,3,1,1,31,about_to_sleep

In [78]:
rfm[["segment","recency","frequency","monetary"]].groupby("segment").agg(["mean","count"])

                              recency        frequency           monetary  \
                                 mean count       mean count         mean
segment
about_to_sleep      113 days 18:50:36  1629   2.401473  1629   359.008963
at_Risk             241 days 14:33:50  3131   4.472373  3131   646.610236
cant_loose          235 days 10:39:36  1200  10.698333  1200  1474.468217
champions            17 days 02:33:32  1932   8.934265  1932  1406.625109
hibernating         247 days 22:47:16  3604   2.394007  3604   366.267062
loyal_customers      82 days 14:16:27  3361   8.374591  3361  1216.818616
need_attention      113 days 19:53:17   823   3.727825   823   562.142965
new_customers        17 days 22:01:24   680   2.000000   680   339.955544
potential_loyalists  37 days 03:44:28  2938   3.304289  2938   533.184466
promising            58 days 22:06:29   647   2.000000   647   335.672705


                    count
segment
about_to_sleep       1629
at_Risk              3131
cant_loose           1200
champions            1932
hibernating          3604
loyal_customers      3361
need_attention        823
new_customers         680
potential_loyalists  2938
promising             647

In [81]:
#BÜTÜN ADIMLARI TEK FONKSİYONA İNDİRGEME
def create_rfm(dataframe):
    dataframe["order_num_total"]= dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["customer_value_total"]= dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]
    date_columns= dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns]= dataframe[date_columns].apply(pd.to_datetime)
    
    df["last_order_date"].max()
    analysis_date= dt.datetime(2021,6,1)
    
    rfm= pd.DataFrame()
    rfm["customer_id"]= df["master_id"]
    rfm["recency"]= (analysis_date - df["last_order_date"]).astype("timedelta64[s]")
    rfm["frequency"]= df["order_num_total"]
    rfm["monetary"]= df["customer_value_total"]
    
    rfm["recency_score"]= pd.qcut(rfm["recency"], 5, labels= [5,4,3,2,1])
    rfm["frequency_score"]= pd.qcut(rfm["frequency"].rank(method="first"), 5, labels= [1,2,3,4,5])
    rfm["monetary_score"]= pd.qcut(rfm["monetary"], 5, labels= [1,2,3,4,5])
    
    rfm["RF_SCORE"]= rfm["recency_score"].astype(str)+ rfm["frequency_score"].astype(str)
    
    seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
    }
    rfm["segment"]= rfm["RF_SCORE"].replace(seg_map, regex=True)
    
    return rfm[["segment","recency","frequency","monetary","customer_id","RF_SCORE"]]

In [83]:
rfm_df= create_rfm(df)
rfm_df.head()

,segment,recency,frequency,monetary,customer_id,RF_SCORE
0,loyal_customers,95 days 00:00:00,5.0,939.37,cc294636-19f0-11eb-8d74-000d3a38a36f,34
1,loyal_customers,105 days 00:00:00,21.0,2013.55,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,35
2,at_Risk,186 days 00:00:00,5.0,585.32,69b69676-1a40-11ea-941b-000d3a38a36f,24
3,about_to_sleep,135 days 00:00:00,2.0,121.97,1854e56c-491f-11eb-806e-000d3a38a36f,31
4,about_to_sleep,86 days 00:00:00,2.0,209.98,d6ea1074-f1f5-11e9-9346-000d3a38a36f,31